---
import AlbumCard from '@/components/album-card.astro'
import Layout from '@/layouts/layout.astro'

import { getCollection } from 'astro:content'

const posts = (await getCollection('albums')).sort((a, b) =>
  new Date(a.data.post_date) > new Date(b.data.post_date) ? -1 : 1,
)
---

<Layout title="Favorite Albums" description="My favorite albums.">
  <div
    class="container mx-auto flex w-full max-w-3xl flex-wrap items-center px-4 pb-12 pt-4 lg:px-0"
  >
    <div class="px-auto grid grid-cols-2 gap-6 sm:grid-cols-3">
      {
        posts.map((post: any) => (
          <AlbumCard
            id={post.slug}
            name={post.data.album}
            artist={post.data.artist}
            image_url={post.data.cover_art_url}
          />
        ))
      }
    </div>
  </div>
</Layout>
