---
import '@/styles/globals.css'
import  Layout  from '@/layouts/layout.astro'
---
<Layout>
	<body class="flex flex-col min-h-screen min-w-full gap-y-12 items-center justify-center">
		<h1 class="text-6xl">Astro</h1>
	</body>
</Layout>
