---
import MainNav from '@/components/main-nav.astro'
import { MobileNav } from '@/components/mobile-nav'
// import ThemeToggle from '@/components/theme-toggle.astro'
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex h-14 items-center">
    <MainNav />
    <MobileNav client:load />
    <div class="flex flex-1 items-center justify-end space-x-2">
      <nav class="flex items-center">
        <!-- <ThemeToggle /> -->
      </nav>
    </div>
  </div>
</header>
