---
import '@/styles/globals.css'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@/components/base-head.astro'
import Header from '@/components/header.astro'
---

<html lang="en">
  <head>
    <BaseHead />
    <ViewTransitions transition:persist />
  </head>
  <body class="no-scrollbar">
    <Header />
    <main class="flex-auto">
      <slot />
    </main>
  </body>
</html>
